$jet: #292929
$dim-gray: #666666
$grey: #B8B8B8
$wine: #683131
$brandy: #8B4141
$platinum: #E2E2E2
$cg-blue: #007DA3
$cyan-process: #00ACE0

$default-font: 'Sitka Text', serif
$heading-font: 'Sitka Heading', serif
$subheading-font: 'Sitka Subheading', serif
$link-font: 'Sitka Display', serif
