$jet: #292929
$dim-gray: #666666
$grey: #B8B8B8
$wine: #683131
$brandy: #8B4141
$platinum: #E2E2E2
$cg-blue: #355691
$cyan-process: #4c76bd

$default-font: 'Sitka Text', serif
$heading-font: 'Sitka Heading', serif
$subheading-font: 'Sitka Subheading', serif
$link-font: 'Sitka Display', serif

#Component
  width: 100vw
  position: absolute

#Content
  padding-top: 5rem

#Head
  height: 5rem !important
  background-color: $jet
  display: flex
  align-items: center
  justify-content: center
  border-radius: 1rem
  margin-bottom: 2rem

#Back
  position: absolute
  left: 0
  display: flex
  align-items: center
  justify-content: center
  background-color: $wine
  height: 100%
  width: 8rem
  font-size: 22pt
  border-bottom-left-radius: 1rem
  border-top-left-radius: 1rem
  color: $grey
  text-decoration: none !important
  padding-top: 0.4rem

  &:hover
    background-color: $brandy
    color: $platinum

#Header
  color: $grey
  font-size: 35pt
  padding-top: 0.5rem
  padding-bottom: 0
  margin-bottom: 0
