body {
  background-color: #BCBCBC;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sitka Heading', serif;
}

p, a, button {
  font-family: 'Sitka Text', serif;
}

#PageRow {
  min-height: 100vh;
}

#ExceptBasket{
  margin-top: 6rem;
}





/*/>>>>>> PIZZA_TOPPINGS >>>>>>/*/



/*/>>>>>> MAX_TOPPINGS_MODAL >>>>>>/*/
/*/<<<<<< MAX_TOPPINGS_MODAL <<<<<</*/


#FinalizeOrder {
  background-color: #BCBCBC;
  width: 100vw;
}

  #FinalizeOrder #PageRow {
      padding-top: 9rem;
      display: block;
  }

  #FinalizeOrder .PageHead {
      height: 5rem;
      background-color: #202020;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 1rem;
      margin-bottom: 2rem;
  }

      #FinalizeOrder .PageHead .BackButton {
          position: absolute;
          left: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #683131;
          height: 100%;
          width: 8rem;
          font-size: 22pt;
          border-bottom-left-radius: 1rem;
          border-top-left-radius: 1rem;
          color: #E2E2E2;
          text-decoration: none !important;
      }

          #FinalizeOrder .PageHead .BackButton:hover {
              background-color: #8B4343;
          }

      #FinalizeOrder .PageHead .Header {
          color: #E2E2E2;
          font-size: 35pt;
          padding-bottom: 0;
          margin-bottom: 0;
      }

  #FinalizeOrder .Form {
      margin-top: 0;
      background-color: #202020;
      border-radius: 1rem;
      padding-top: 2.2rem;
      padding-bottom: 2rem;
  }

      #FinalizeOrder .Form input {
          text-align: center;
          background-color: #683131;
          font-family: 'Sitka Text', serif;
          color: #E2E2E2;
          font-size: 16pt;
      }

  #FinalizeOrder .form-group {
      text-align: center;
      margin-bottom: 2rem;
  }

  #FinalizeOrder .Form label {
      color: #E2E2E2;
      font-family: 'Sitka Subheading', serif;
      font-size: 17pt;
  }

  #FinalizeOrder .Done {
      margin-top: 1rem;
      display: flex;
      align-items: center;
      flex-direction: column;
  }

  #FinalizeOrder .Confirm {
      font-family: 'Sitka Display', serif !important;
      font-weight: bold;
      text-align: center;
      font-size: 23pt;
      color: #EFEFEF;
      background-color: #683131;
      width: 16rem;
      border-radius: 10rem;
      margin: 0.5rem 1rem 0.5rem 1rem;
      text-decoration: none !important;
  }

@media only screen and (max-width:1200px) {

  #FinalizeOrder #PageRow {
      padding-top: 7rem;
  }
}

@media only screen and (max-width:992px) {
  #FinalizeOrder .PageHead {
      height: 4rem;
  }
}

@media only screen and (max-width:576px) {

  #FinalizeOrder .PageHead .BackButton {
      width: 5rem;
      font-size: 15pt;
  }

  #FinalizeOrder .PageHead .Header {
      font-size: 20pt;
  }

  #FinalizeOrder a.Done {
      margin-top: 1rem;
  }

  #FinalizeOrder .PageHead {
      justify-content: flex-end;
      padding-right: 2rem;
  }
}
/*/<<<<<< FINALIZE_ORDER <<<<<</*/



/*/>>>>>> THANK_YOU >>>>>>/*/
#ThankYou {
  background-color: #BCBCBC;
  width: 100vw;
  position: absolute;
}

  #ThankYou #PageRow {
      display: block;
      padding-top: 9rem;
  }

  #ThankYou .PageHead {
      padding-top: 1rem;
      padding-bottom: 0.5rem;
      background-color: #202020;
      text-align: center;
      border-radius: 1rem;
      margin-bottom: 1rem;
      background-image: url("img/blazin.svg");
      background-position: center;
      background-repeat: repeat;
  }

      #ThankYou .PageHead .Header {
          color: #E2E2E2;
          font-size: 35pt;
      }

      #ThankYou .PageHead h4 {
          color: #E2E2E2;
          font-size: 20pt;
      }

  #ThankYou div.Pizza {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-top: 1rem;
      width: 100%;
      background-color: #202020;
      margin-bottom: 1rem;
      text-decoration: none;
      border-radius: 1rem;
      color: #E2E2E2;
  }

      #ThankYou div.Pizza p {
          font-size: 15pt;
      }

  #ThankYou div.Sides,
  #ThankYou div.Drinks {
      padding: 1rem 0 0.5rem 0;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      background-color: #202020;
      margin-bottom: 1rem;
      text-decoration: none;
      border-radius: 1rem;
      color: #E2E2E2;
  }

  #ThankYou div.Address {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-top: 1rem;
      padding-bottom: 1rem;
      background-color: #202020;
      margin-bottom: 1rem;
      text-decoration: none;
      border-radius: 1rem;
      color: #E2E2E2;
  }

  #ThankYou #PointsPartial {
      text-align: center;
      padding-top: 1rem;
      padding-bottom: 0.5rem;
      background-color: #202020;
      margin-bottom: 1rem;
      text-decoration: none;
      border-radius: 1rem;
      color: #E2E2E2;

  }

  #ThankYou #PointsPartial h2 {
      font-weight: bold;
  }


  #ThankYou article.Done,
  #OrderHistory, article.NoOrder {
      display: flex;
      align-items: center;
      flex-direction: column;
  }

  #ThankYou h4.Total,
  #OrderHistory h4.Message {
      border-radius: 1rem;
      padding: 1rem 4rem 1.1rem 4rem;
      background-color: #202020;
      text-align: center;
      font-weight: bold;
      font-size: 20pt;
      color: #E2E2E2;
      margin: 0.5rem 0 3rem 0;
  }

  #ThankYou a.Confirm,
  #OrderHistory a.OrderNow {
      font-family: 'Sitka Display', serif !important;
      font-weight: bold;
      text-align: center;
      font-size: 23pt;
      color: #EFEFEF;
      background-color: #683131;
      width: 16rem;
      border-radius: 10rem;
      margin: 0 1rem 0.5rem 1rem;
      text-decoration: none !important;
      padding: 0.5rem 0 0.5rem 0;
  }

@media only screen and (max-width:1200px) {
  #ThankYou #PageRow {
      padding-top: 7rem;
  }
}

@media only screen and (max-width:992px) {
  #ThankYou a.Confirm {
      font-size: 17pt;
      padding: 0.7rem 0 0.5rem 0;
      margin-bottom: 1rem;
  }

  #ThankYou h4.Total {
      margin-bottom: 1.3rem;
  }
}

@media only screen and (max-width:576px) {
  #ThankYou .PageHead .Header {
      font-size: 20pt;
  }

  #ThankYou div.Pizza p,
  #ThankYou div.Sides h5,
  #ThankYou div.Drinks h5,
  #ThankYou div.Address h5{
      font-size: 13pt;
      text-align: center;
  }

  #ThankYou div.Pizza h3,
  #ThankYou div.Sides h3,
  #ThankYou div.Drinks h3,
  #ThankYou div.Address h3,
  #ThankYou h4.Total {
      font-size: 18pt;
  }
}
/*/<<<<<< THANK_YOU <<<<<</*/

