@use '../../../../vars'

#PizzaSize
  width: 100vw
  position: absolute

  #ExceptBasket
    padding-top: 5rem

  .PageHead
    height: 5rem
    background-color: vars.$jet
    display: flex
    align-items: center
    justify-content: center
    border-radius: 1rem
    margin-bottom: 2rem

    .BackButton
      position: absolute
      left: 0
      display: flex
      align-items: center
      justify-content: center
      background-color: vars.$wine
      height: 100%
      width: 8rem
      font-size: 22pt
      border-bottom-left-radius: 1rem
      border-top-left-radius: 1rem
      color: vars.$grey
      text-decoration: none !important
      padding-top: 0.4rem

      &:hover
        background-color: vars.$brandy
        color: vars.$platinum

    .Header
      color: vars.$grey
      font-size: 35pt
      padding-top: 0.5rem
      padding-bottom: 0
      margin-bottom: 0

  .Options a
    display: inline-flex
    justify-content: center
    align-items: center
    height: 40rem
    width: 100%
    background-color: vars.$jet
    margin-bottom: 3rem
    text-decoration: none
    font-size: 120pt
    color: vars.$grey
    border-radius: 1rem

    &:hover
      color: vars.$platinum
      background-image: url("../../../../img/blazin.svg")
      background-size: contain
      background-position: center
      background-repeat: no-repeat

/*Responsive Styles*/
@media only screen and (max-width: 1200px)
  #PizzaSize #ExceptBasket
    padding-top: 0
    margin-top: 2.5rem

@media only screen and (max-width: 992px)
  #PizzaSize
    .PageHead
      height: 4rem

      .Header, .BackButton
        font-size: 20pt

    .Options a
      font-size: 40pt !important

@media only screen and (max-width: 576px)
  #PizzaSize .PageHead
    justify-content: flex-end
    padding-right: 2rem
    height: 3rem !important
    .BackButton
      width: 5rem
      font-size: 13pt !important
    .Header
      font-size: 13pt !important

@media only screen and (min-height: 600px)
  #PizzaSize .Options a
    height: 42vh
    font-size: 50pt

@media only screen and (min-height: 800px)
  #PizzaSize .Options a
    height: 56vh
    font-size: 70pt

@media only screen and (min-height: 1000px)
  #PizzaSize .Options a
    height: 64vh

@media only screen and (min-height: 1080px)
  #PizzaSize .Options a
    height: 66vh

@media only screen and (min-height: 1200px)
  #PizzaSize .Options a
    height: 70vh

@media only screen and (min-height: 1400px)
  #PizzaSize .Options a
    height: 73.4vh

@media only screen and (min-height: 1600px)
  #PizzaSize .Options a
    height: 76vh

@media only screen and (min-height: 1800px)
  #PizzaSize .Options a
    height: 79vh

@media only screen and (min-height: 2000px)
  #PizzaSize .Options a
    height: 82vh
