@use '../../../../vars'

#PizzaSize
  @extend #Component

  #ExceptBasket
    @extend #Content

  .PageHead
    @extend #Head

    .BackButton
      @extend #Back

    .Header
      @extend #Header

  .Options a
    display: inline-flex
    justify-content: center
    align-items: center
    height: 40rem
    width: 100%
    background-color: vars.$jet
    margin-bottom: 3rem
    text-decoration: none
    font-size: 120pt
    color: vars.$grey
    border-radius: 1rem

    &:hover
      color: vars.$platinum
      background-image: url("../../../../img/blazin.svg")
      background-size: contain
      background-position: center
      background-repeat: no-repeat

/*Responsive Styles*/
@media only screen and (max-width: 1200px)
  #PizzaSize #ExceptBasket
    padding-top: 0
    margin-top: 2.5rem

@media only screen and (max-width: 992px)
  #PizzaSize
    .PageHead
      height: 4rem

      .Header, .BackButton
        font-size: 20pt

    .Options a
      font-size: 40pt !important

@media only screen and (max-width: 576px)
  #PizzaSize .PageHead
    justify-content: flex-end
    padding-right: 2rem
    height: 3rem !important
    .BackButton
      width: 5rem
      font-size: 13pt
    .Header
      font-size: 13pt

@media only screen and (min-height: 400px)
  #PizzaSize
    #ExceptBasket
      padding-top: 1rem
    .PageHead
      height: 4rem
      margin-bottom: 1rem
      .BackButton
        font-size: 20pt
      .Header
        font-size: 30pt
        padding-top: 0.2rem
    .Options a
      height: 42vh
      font-size: 50pt

@media only screen and (min-height: 600px)
  #PizzaSize
    #ExceptBasket
      padding-top: 5rem
    .Options a
      height: 42vh
      font-size: 50pt
    .PageHead
      height: 10vh
      .Header
        padding-top: 0.2rem
        font-size: 25pt
      .BackButton
        padding-top: 0.1rem
        font-size: 17pt

@media only screen and (min-height: 800px)
  #PizzaSize
    .Options a
      height: 56vh
      font-size: 70pt
    .PageHead
      .BackButton
        font-size: 20pt
      .Header
        font-size: 30pt !important


@media only screen and (min-height: 1000px)
  #PizzaSize .Options a
    height: 64vh

@media only screen and (min-height: 1080px)
  .PageHead
    height: 5rem !important
  #PizzaSize .Options a
    height: 66vh

@media only screen and (min-height: 1200px)
  #PizzaSize .Options a
      height: 70vh

@media only screen and (min-height: 1400px)
  #PizzaSize .Options a
    height: 73.4vh

@media only screen and (min-height: 1600px)
  #PizzaSize
    .Options a
      height: 76vh

@media only screen and (min-height: 1800px)
  #PizzaSize
    .Options a
      height: 78vh

@media only screen and (min-height: 2000px)
  #PizzaSize .Options a
    height: 80vh
